<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>User update</title>
</head>
<body>
<form action="#" th:action="@{/admin}" th:object="${user}" method="post">
    <br/>
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="Id">
    <br/>
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
    <br/>
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
    <br/>
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <br/>
    <label for="username">Email</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <br/>
    <br/>
    <label for="username">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <br/>
    <br/>
    <label>Roles</label>
    <select id="role-select" required class="form-control" th:field="*{roles}" multiple="multiple" >
        <option th:each="e : ${addRoles}"
                th:field="*{roles}"
                th:value="${e.id}"
                th:text="${e.role}"> Choose roles
        </option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Update user">
</form>
<div>
    <br>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>