<!--
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
    <title>User create</title>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/admin}" th:object="${user}" method="post">
        <label for="firstName">First name</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
        <label for="lastName">Last name</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age" placeholder="Age">
        <label for="username">Email</label>
        <input type="text" th:field="*{username}" id="username" placeholder="username">
        <label for="username">Password</label>
        <input type="text" th:field="*{password}" id="password" placeholder="password">
        <label>Roles</label>
        <select id="role-select" required class="form-control" th:field="*{roles}" multiple="multiple">
            <option th:each="e : ${addRoles}"
                    th:field="*{roles}"
                    th:value="${e.id}"
                    th:text="${e.role}"> Choose roles
            </option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Create user">
    </form>
    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>

-->